.card-container {
  margin: 5px;
}

.btn-remove {
  position: absolute;
  right: 10px;
}

.card-reminder {
  background-color: #69f0ae;
  color: rgba(0, 0, 0, .87)
}

.card-reminder-subtitle {
  color: rgba(0, 0, 0, 0.65)
}
