<form (ngSubmit)="saveTask()" *ngIf="show">
  <mat-form-field appearance="fill">
    <mat-label>Text</mat-label>
    <input matInput name="text" [(ngModel)]="text" id="text">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Day & Time</mat-label>
    <input matInput name="day" [(ngModel)]="day" id="day">
  </mat-form-field>
  <section>
    <mat-checkbox color="primary" name="reminder" [(ngModel)]="reminder" id="reminder">Reminder</mat-checkbox>
  </section>
  <button type="submit" mat-raised-button color="primary">Save Task</button>
</form>
